In [142]:
import os
import numpy as np
import matplotlib.pyplot as plt

from glob import glob
from astropy.table import Table
from automated_scripts.cal_uvis_make_darks import fileIO
from automated_scripts.cal_uvis_make_darks import dark_stats as ds
from automated_scripts.cal_uvis_make_darks import monitoring_bokeh_plots as mbp

### Making the median dark current .dat files for unflashed and postflashed ref files

In [17]:
# first for unflashed superdarks
uf_loc = '/grp/hst/wfc3e/jmedina/uf_pl/superdarks'# location of the unflashed superdarks
superdarks = glob(os.path.join(uf_loc,'*'))
"""
expstarts = []
midpts_ext1 = []
midpts_ext4 = []

for superdark in superdarks:
    expstart, midpt_ext1, midpt_ext4 = ds.get_dark_median(superdark, 'superdarks')
    expstarts.append(expstart)
    midpts_ext1.append(midpt_ext1)
    midpts_ext4.append(midpt_ext4)
 
# putting into a table
t = Table([expstarts, midpts_ext1, midpts_ext4], names=('expstart', 'midpt_ext1', 'midpt_ext4'))
t.write('uf_midpt.dat', format='ascii')
"""

In [79]:
from glob import glob
import logging
import os

from astropy.io import fits
import numpy as np

def calc_stats(stat_type, paths, anneal_date, ctecorr):
    """Builds a file within the `blvs` and `superdarks` stats subdirectories
    containing either dark current or hot pixel statistics, based on
    ``stat_type``.
    Creates 2 output statistic files (one under ``blvs`` and one under
    ``superdarks``), removing any already-existing ones, containing either dark
    current statistics (if ``stat_type`` is ``midpt``) or hot pixel statistics
    (if ``stat_type`` is ``hotpix``).
    Parameters
    ----------
    stat_type : str
        Can be either ``midpt`` to calculate dark current statistics
        or ``hotpix`` to calculate hot pixel statistics.
    paths : dict
        The dictionary containing the absolute paths of directories
        used throughout the pipeline.
    anneal_date : str
        The anneal date, in the format of ``YYYYMMDD``, to be used in
        the filename of the output file.
    ctecorr : bool
        ``True`` (if CTE-correction is turned on) or ``False`` (if
        CTE-correction is turned off). Used to determine the output
        filename.
    Notes
    -----
    Statistic files are replaced if they already exist so that the
    files are essentially updated, in case the pipeline is run multiple
    times throughout an anneal cycle.
    """

    # The process is performed twice:
    # 1) Using the blv_tmp.fits files to calculate the statistics
    # 2) Using the superdark files to calculate the statistics
    for data_type in ['superdarks']:

        # Build path to stat files we're about to create
        if ctecorr:
            path_ext1 = os.path.join(paths['plot_'+data_type], '{}/{}_stat_ext1_{}_ctecorr.dat'.format(stat_type, stat_type, anneal_date))
            path_ext4 = os.path.join(paths['plot_'+data_type], '{}/{}_stat_ext4_{}_ctecorr.dat'.format(stat_type, stat_type, anneal_date))
        else:
            path_ext1 = os.path.join(paths['plot_'+data_type], '{}/{}_stat_ext1_{}.dat'.format(stat_type, stat_type, anneal_date))
            path_ext4 = os.path.join(paths['plot_'+data_type], '{}/{}_stat_ext4_{}.dat'.format(stat_type, stat_type, anneal_date))

        # Remove stat files if they already exist
        if os.path.exists(path_ext1):
            os.remove(path_ext1)
        if os.path.exists(path_ext4):
            os.remove(path_ext4)

        # Calculate stats
        if stat_type == 'midpt':
            logging.info('\tCalculating dark median statistics.')
            logging.info('')
            logging.info('\t\tFilename\tEXPSTART\tDark median ext 1\tdark median ext4')
            files = glob(paths[data_type+'_for_dark'])
            for frame in files:
                expstart, stats_ext1, stats_ext4 = ds.get_dark_median(frame, data_type)
                filename = os.path.basename(frame)
                logging.info('\t\t{}\t{}\t{}\t{}'.format(filename, str(expstart), str(stats_ext1), str(stats_ext4)))
                ds.write_to_output(filename, expstart, stats_ext1, path_ext1)
                ds.write_to_output(filename, expstart, stats_ext4, path_ext4)
            logging.info('')
            logging.info('\tDark median statistic files written to {}'.format(os.path.join(paths['plot_'+data_type], 'midpt/')))
            logging.info('')

        elif stat_type == 'hotpix':
            logging.info('\tCalculating hot pixel statistics.')
            logging.info('')
            logging.info('\t\tFilename\tEXPSTART\tPercent hotpix ext 1\tPercent hotpix ext4')
            files = glob(paths[data_type+'_for_hotpix'])
            for frame in files:
                expstart, stats_ext1, stats_ext4 = ds.get_hotpix_stats(frame, data_type)
                filename = os.path.basename(frame)
                logging.info('\t\t{}\t{}\t{}\t{}'.format(filename, str(expstart), str(stats_ext1), str(stats_ext4)))
                ds.write_to_output(filename, expstart, stats_ext1, path_ext1)
                ds.write_to_output(filename, expstart, stats_ext4, path_ext4)
            logging.info('')
            logging.info('\tHot pixel statistic files written to {}'.format(os.path.join(paths['plot_'+data_type], 'hotpix/')))
            logging.info('')

In [158]:
for i in cte_cycles:
    #print(i)
    print(i.split('/')[-1].split('-')[-1].split('_')[0])

20090821
20090914
20091016
20091114
20091211
20100106
20100204
20100302
20100331
20100430
20100526
20100621
20100721
20100820
20100918
20101015
20101114
20101209
20110107
20110205
20110303
20110330
20110428
20110526
20110624
20110721
20110819
20110918
20111015
20111111
20111205
20120104
20120204
20120229
20120328
20120425
20120523
20120620
20120717
20120815
20120911
20121011
20121108
20121206
20130101
20130131
20130228
20130326
20130426
20130522
20130620
20130718
20130815
20130912
20131010
20131110
20131204
20140102
20140130
20140226
20140328
20140423
20140520
20140618
20140715
20140813
20140911
20141010
20141105
20141204
20141231
20150129
20150228
20150323
20150422
20150520
20150620
20150715
20150812
20150908
20151005
20151104
20151202
20151230
20151230
20160125
20160125
20160222
20160222
20160324
20160324
20160419
20160521
20160615
20160713
20160812
20160907
20161008
20161008
20161105
20170223
20170320
20170419
20170518
20170613
20170714
20170810
20170810
20170904
20170904
20171004
20171103
20171128
20171226
20171226
20171226
20180125
20180125
20180125
20180125
20180125
20180221
20180221
20180221
20180221
20180324
20180324
20180324
20180420
20180420
20180420
20180519
20180612
20180612

In [ ]:
# then for postflashed superdarks
# note: we are making the actual .dat files to put under /new_algorithm/superdarks/midpt
# directory for the quicklook darks monitor project

pf_loc = '/grp/hst/wfc3h/bourque/uvis_darks/new_algorithm/'# location of the
                                                           # postflash anneal cycles
anneal_cycles = glob(os.path.join(pf_loc,'post*'))
anneal_cycles = np.sort(anneal_cycles)



cycles_to_use = []
cte_cycles = []
for anneal_cycle in anneal_cycles:   
    if 'ctecorr' not in anneal_cycle:
        cycles_to_use.append(anneal_cycle)
    elif 'ctecorr' in anneal_cycle:
        cte_cycles.append(anneal_cycle)


for cycle in cte_cycles:
    anneal_date = cycle.split('/')[-1].split('-')[-1].split('_')[0]
    path = fileIO.make_path_dict(cycle)
    
    calc_stats('midpt', path, anneal_date, True)
    calc_stats('hotpix', path, anneal_date, True) 
"""
    pf_superdarks = glob(path['superdarks_for_dark']) # the superdarks delivered 
                                                      # for 'cycle'

    pf_expstarts = []
    pf_midpts_ext1 = []
    pf_midpts_ext4 = []
    
    for pf_superdark in pf_superdarks:
        pf_expstart, pf_midpt_ext1, pf_midpt_ext4 = ds.get_dark_median(pf_superdark, 'superdarks')
        pf_expstarts.append(expstart)
        pf_midpts_ext1.append(midpt_ext1)
        pf_midpts_ext4.append(midpt_ext4)
        
    t_ext1 = Table([os.path.basename(pf_superdark), 
                    expstart, 
                    midpts_ext4], 
                   names=('filename', 
                          'midpt_ext1', 
                          'midpt_ext1'))
    t.write('midpt_stat', format='ascii')
    """

In [119]:
pf_stats_loc = '/grp/hst/wfc3h/bourque/uvis_darks/plots/new_algorithm/superdarks/midpt'

datfiles = glob(os.path.join(pf_stats_loc, '*.dat'))

dats_to_use_ext1 = []
dats_to_use_ext4 = []

# get all our .dat files in a list
for datfile in datfiles:
    if ('ctecorr' not in datfile) & ('-' not in os.path.basename(datfile)) \
    & ('ext1' in os.path.basename(datfile)):
        dats_to_use_ext1.append(datfile)
    if ('ctecorr' not in datfile) & ('-' not in os.path.basename(datfile)) \
    & ('ext4' in os.path.basename(datfile)):
        dats_to_use_ext4.append(datfile)
  
pf_midpts_ext1 = []
pf_midpts_ext4 = []
pf_expstarts1   = []
pf_expstarts4   = []
# pull out x and y from every .dat file 
for dat1 in dats_to_use_ext1:
    t = Table.read(dat1, format='ascii')
    pf_expstart = t['col2'] #+ 54993 # t['col2'] is actually "days since MJD 54993"
                                     # so we gotta add the 54993 back in, to be consistent
                                     # with my x values for the unflashed darks
    pf_midpt_ext1 = t['col3']
    
    pf_expstarts1.extend(pf_expstart)
    pf_midpts_ext1.extend(pf_midpt_ext1)
    
for dat4 in dats_to_use_ext4:
    t = Table.read(dat4, format='ascii')
    pf_expstart = t['col2']
    pf_midpt_ext4 = t['col3']
    pf_expstarts4.extend(pf_expstart)
    pf_midpts_ext4.extend(pf_midpt_ext4)

"""
expstarts = []
midpts_ext1 = []
midpts_ext4 = []

for superdark in superdarks:
    expstart, midpt_ext1, midpt_ext4 = ds.get_dark_median(superdark, 'superdarks')
    expstarts.append(expstart)
    midpts_ext1.append(midpt_ext1)
    midpts_ext4.append(midpt_ext4)
"""

"\nexpstarts = []\nmidpts_ext1 = []\nmidpts_ext4 = []\n\nfor superdark in superdarks:\n    expstart, midpt_ext1, midpt_ext4 = ds.get_dark_median(superdark, 'superdarks')\n    expstarts.append(expstart)\n    midpts_ext1.append(midpt_ext1)\n    midpts_ext4.append(midpt_ext4)\n"

In [62]:
path = fileIO.make_path_dict(cycles_to_use[-1])
ds.dark_stats_main(cycles_to_use[0]

'/grp/hst/wfc3h/bourque/uvis_darks/new_algorithm/post-anneal-20090821_20150728'

In [ ]:
"""
# then for postflashed superdarks
# note: we are making the actual .dat files to put under /new_algorithm/superdarks/midpt
# directory for the quicklook darks monitor project

pf_loc = '/grp/hst/wfc3h/bourque/uvis_darks/new_algorithm/'# location of the
                                                           # postflash superdarks
directories = glob(os.path.join(pf_loc, 'post*'))
paths_to_use = []
for i in directories:
    if ('to' not in i) & ('ctecorr' not in i):
        paths_to_use.append(i)
pf_superdarks = []
for path in paths_to_use:
    superdarks = glob(os.path.join(main_dir,path,'deliver', '*drk*'))
    pf_superdarks.extend(superdarks)

pf_expstarts = []
pf_midpts_ext1 = []
pf_midpts_ext4 = []

for pf_superdark in pf_superdarks:
    expstart, midpt_ext1, midpt_ext4 = ds.get_dark_median(superdark, 'superdarks')
    pf_expstarts.append(expstart)
    pf_midpts_ext1.append(midpt_ext1)
    pf_midpts_ext4.append(midpt_ext4)
    """

# Plotting

In [150]:
anneal_list = mbp.get_history_list('anneal')
anneal_begin = list(range(0, len(anneal_list), 2))
anneal_end = list(range(1, len(anneal_list), 2))

anneal_begin = np.asarray(anneal_begin)
anneal_end = np.asarray(anneal_end)

for i,j in zip(anneal_begin, anneal_end):
    print(i, j)
"""
    plt.axhspan(i, j, facecolor='0.2', alpha=0.5)
    plt.axvspan(i, j, facecolor='b', alpha=0.5)
        """

0 1
2 3
4 5
6 7
8 9
10 11
12 13
14 15
16 17
18 19
20 21
22 23
24 25
26 27
28 29
30 31
32 33
34 35
36 37
38 39
40 41
42 43
44 45
46 47
48 49
50 51
52 53
54 55
56 57
58 59
60 61
62 63
64 65
66 67
68 69
70 71
72 73
74 75
76 77
78 79
80 81
82 83
84 85
86 87
88 89
90 91
92 93
94 95
96 97
98 99
100 101
102 103
104 105
106 107
108 109
110 111
112 113
114 115
116 117
118 119
120 121

"\n    plt.axhspan(i, j, facecolor='0.2', alpha=0.5)\n    plt.axvspan(i, j, facecolor='b', alpha=0.5)\n        "

In [146]:
%matplotlib qt

#import seaborn as sns

#sns.set_style('darkgrid')
# adding sic&dh lockup lines
anneal_list = mbp.get_history_list('anneal')
anneal_begin = list(range(0, len(anneal_list), 2))
anneal_end = list(range(1, len(anneal_list), 2))

ymin = 0 # bottom part of the shade
ymax = 16 # top part of the shade
xmax = 0 # not sure why xmax is a parameter since it's not used but yeah
# adding shaded anneals 
# adding postflash start


# plotting data
fig, axs = plt.subplots(nrows=2,ncols=1,sharex=True, sharey=True, figsize=(6,12))
plt.ylim(ymin,ymax)
# chip 1
axs[0].set_title('Chip 1')
axs[0].set_ylabel(r'Median Dark Current ($\frac{e^-}{hr}$)')
axs[0].set_xlabel('MJD')

axs[0].scatter(expstarts, midpts_ext4, s=20.0,color='coral', alpha=1, edgecolor='black',
            linewidth=0.3)
axs[0].scatter(pf_expstarts4, pf_midpts_ext4, s=20.0,color='grey', alpha=1, edgecolor='black',
               linewidth=0.3)

axs[0].fill_between

# chip 2
axs[1].set_title('Chip 2')
axs[1].set_ylabel(r'Median Dark Current ($\frac{e^-}{hr}$)')
axs[1].set_xlabel('MJD')
axs[1].scatter(expstarts, midpts_ext1, s=20.0,color='coral', alpha=1, edgecolor='black',
            linewidth=0.3)
axs[1].scatter(pf_expstarts1, pf_midpts_ext1, s=20.0,color='grey', alpha=1, edgecolor='black',
            linewidth=0.3)

# IMPORTANT: chip 1 n 2 need different expstart arrays... meaning they're not the 
# same on both chips fo rthe same observation. this doesnt make sense. investigate

11.3637000000017
39.11970000000292
70.40570000000298
95.14570000000094
126.81169999999838
155.5066999999981
183.11669999999867
208.99270000000251
238.1137000000017
264.20270000000164
293.0327000000034
322.9357000000018
349.2436999999991
376.2737000000052
404.56870000000345
434.6307000000015
463.44970000000467
490.8597000000009
520.6926999999996
545.879700000005
574.5717000000004
603.6827000000048
629.9637000000002
656.9607000000033
685.504700000005
713.8187000000034
742.379700000005
769.9936999999991
798.8187000000034
828.5027000000046
855.5517000000036
882.5837000000029
907.2377000000051
937.2687000000005
967.9297000000006
993.0097000000023
1020.7897000000012
1049.2197000000015
1077.2687000000005
1104.5857000000033
1131.7527000000046
1160.9176999999981
1187.4847000000009
1218.020700000001
1245.415700000005
1273.981700000004
1299.9667000000045
1329.4447
1357.8247000000047
1383.8277000000016
1414.6057
1441.1336999999985
1469.6797000000006
1497.464700000004
1525.381699999998
1553.5976999999984
1582.2667000000001
1612.381699999998
1636.918700000002
1665.602700000003
1693.760699999999
1721.0446999999986
1750.4847000000009
1777.1237000000037
1804.1627000000008
1833.0987000000023
1860.0057000000015
1888.655700000003
1917.9377000000022
1946.490700000002
1973.0227000000014
2001.770700000001
2029.0117000000027
2057.6837000000014
2087.441700000003
2111.0017000000007
2141.1237000000037
2168.767700000004
2200.0117000000027
2225.1087000000043
2252.457699999999
2279.481700000004
2307.1447000000044
2336.3116999999984
2364.714700000004
2392.5947000000015
2419.0197000000044
2446.7986999999994
2477.7586999999985
2504.2586999999985
2535.790700000005
2560.958700000003
2588.487700000005
2618.4277
2644.378700000001
2675.9167000000016
2703.3476999999984
2728.5987000000023
2758.0887000000002
2783.135699999999
2814.2107000000033
2838.9397000000026
2868.9297000000006
2897.8407000000007
2923.953699999998
2955.253700000001
2981.659700000004
2982.040700000005
3006.7527000000046
3036.6977000000043
3066.297700000003
3092.276700000002
3119.7266999999993
3150.2477
3177.0747000000047
3207.651700000002
3234.4737000000023
3264.034700000004
3288.217700000001
3318.9026999999987
3343.0817000000025
3371.168700000002
3398.771700000005

In [106]:
pf_midpts_ext4

[<Column name='col3' dtype='float64' length=22>
 4.3711
  4.373
 4.3738
 4.3691
 4.3692
 4.3687
  4.372
 4.3713
 4.3727
 4.3708
 4.3722
 4.3728
 4.3724
 4.3691
 4.3722
 4.3705
 4.3737
 4.3735
 4.3704
 4.3715
 4.3743
 4.3743, <Column name='col3' dtype='float64' length=24>
 4.0784
 4.0786
 4.0764
 4.0789
 4.0772
 4.0798
 4.0749
 4.0773
 4.0772
 4.0804
 4.0804
 4.0781
 4.0768
 4.0799
 4.0769
 4.0783
 4.0744
 4.0795
 4.0802
  4.077
 4.0801
   4.08
 4.0788
 4.0756, <Column name='col3' dtype='float64' length=23>
 6.7832
 6.7783
 6.7765
 6.7832
 6.7903
 6.7798
 6.7802
 6.7865
 6.7787
 6.7879
 6.7757
 6.7834
 6.7765
 6.7792
 6.7783
 6.7783
   6.78
 6.7824
 6.7847
 6.7833
  6.778
 6.7779
 6.7763, <Column name='col3' dtype='float64' length=25>
 4.4369
 4.4362
   4.44
  4.439
 4.4376
 4.4387
 4.4396
 4.4402
 4.4368
 4.4391
 4.4404
 4.4362
 4.4385
 4.4389
 4.4393
 4.4393
  4.439
 4.4361
 4.4386
 4.4395
 4.4371
 4.4386
 4.4406
 4.4365
 4.4389, <Column name='col3' dtype='float64' length=21>
 6.1389
 6.1391
 6.1397
 6.1399
 6.1393
 6.1399
 6.1399
 6.1389
 6.1395
 6.1393
 6.1396
 6.1385
 6.1402
 6.1397
 6.1398
 6.1394
 6.1394
 6.1398
 6.1395
 6.1402
 6.1398, <Column name='col3' dtype='float64' length=21>
 8.2108
 8.2221
 8.2124
 8.2119
 8.2118
 8.2196
 8.2112
 8.2107
 8.2176
 8.2245
 8.2252
 8.2072
 8.2135
 8.2128
 8.2127
 8.2198
 8.2145
 8.2187
 8.2196
 8.2268
 8.2303, <Column name='col3' dtype='float64' length=24>
 7.8705
 7.8769
  7.877
 7.8817
 7.8714
 7.8797
 7.8691
 7.8796
 7.8773
 7.8793
 7.8763
 7.8795
 7.8721
 7.8806
 7.8683
 7.8734
 7.8721
 7.8712
 7.8761
  7.876
 7.8814
 7.8736
 7.8815
  7.881, <Column name='col3' dtype='float64' length=22>
 5.5273
  5.527
 5.5273
 5.5271
 5.5269
  5.527
 5.5266
 5.5271
 5.5269
 5.5264
 5.5275
 5.5267
 5.5265
 5.5275
 5.5274
 5.5267
 5.5275
  5.527
 5.5266
  5.527
  5.527
 5.5267, <Column name='col3' dtype='float64' length=19>
  6.003
 6.0092
 6.0092
 6.0087
 6.0056
 6.0085
 6.0084
 6.0095
 6.0073
 6.0055
 6.0024
 6.0026
 6.0081
 6.0099
 6.0086
 6.0088
 6.0093
 6.0085
 6.0081, <Column name='col3' dtype='float64' length=23>
 6.2748
 6.2727
 6.2733
 6.2705
 6.2735
 6.2718
  6.272
 6.2738
 6.2729
 6.2738
 6.2746
 6.2778
 6.2719
 6.2673
 6.2727
 6.2715
 6.2728
 6.2734
 6.2733
 6.2719
 6.2768
 6.2755
 6.2709, <Column name='col3' dtype='float64' length=19>
  7.627
 7.6308
 7.6389
  7.637
 7.6309
 7.6329
 7.6266
 7.6311
 7.6327
 7.6271
 7.6332
 7.6397
 7.6348
 7.6326
 7.6291
 7.6345
 7.6337
 7.6344
 7.6344, <Column name='col3' dtype='float64' length=24>
 4.9455
 4.9461
 4.9449
 4.9441
  4.942
  4.944
 4.9436
 4.9445
  4.946
 4.9433
 4.9422
  4.948
 4.9448
 4.9437
 4.9448
 4.9455
 4.9457
 4.9446
 4.9465
 4.9467
 4.9463
 4.9463
 4.9432
 4.9419, <Column name='col3' dtype='float64' length=25>
 5.2659
 5.2661
 5.2657
  5.266
  5.266
 5.2656
 5.2659
 5.2658
 5.2657
 5.2656
 5.2654
 5.2656
 5.2653
 5.2662
  5.266
 5.2655
  5.266
 5.2655
 5.2659
 5.2658
 5.2655
 5.2656
 5.2658
 5.2658
 5.2658, <Column name='col3' dtype='float64' length=22>
 5.1851
  5.185
 5.1852
 5.1854
 5.1851
 5.1849
 5.1852
  5.185
 5.1849
 5.1847
 5.1848
 5.1854
 5.1858
 5.1857
 5.1854
 5.1846
  5.185
  5.185
 5.1851
  5.185
 5.1848
 5.1854, <Column name='col3' dtype='float64' length=25>
 3.7344
 3.7341
 3.7343
  3.734
 3.7337
  3.734
 3.7344
 3.7337
 3.7336
 3.7336
  3.734
 3.7341
 3.7343
 3.7344
 3.7337
 3.7343
 3.7344
 3.7341
 3.7343
 3.7344
  3.734
  3.734
 3.7339
 3.7338
 3.7339, <Column name='col3' dtype='float64' length=24>
 4.4111
 4.4088
 4.4094
 4.4114
 4.4088
 4.4145
 4.4111
 4.4128
 4.4135
 4.4125
  4.409
 4.4117
 4.4143
 4.4088
  4.415
 4.4131
 4.4107
 4.4105
 4.4068
 4.4153
 4.4164
  4.413
 4.4092
 4.4102, <Column name='col3' dtype='float64' length=26>
 8.6008
 8.6115
 8.6092
 8.6054
 8.6008
 8.6031
 8.6041
 8.6028
 8.6045
 8.6041
 8.6032
 8.6065
    ...
 8.6022
 8.6112
 8.6033
 8.6007
 8.6039
 8.6034
 8.6175
 8.6015
 8.6066
 8.6108
 8.6038
 8.6064, <Column name='col3' dtype='float64' length=24>
 5.4957
 5.4906
 5.4955
 5.4934
 5.4965
 5.4931
  5.497
 5.4964
 5.4934
 5.4953
 5.4948
 5.4926
 5.4947
 5.4918
  5.495
  5.494
 5.4929
 5.4918
 5.4953
 5.4948
 5.4932
 5.4946
 5.4967
 5.4932, <Column name='col3' dtype='float64' length=26>
 4.6294
 4.6272
 4.6293
 4.6239
 4.6294
 4.6292
 4.6289
 4.6294
 4.6292
 4.6291
 4.6293
 4.6291
    ...
 4.6293
 4.6294
 4.6293
 4.6293
  4.629
 4.6293
 4.6292
 4.6292
 4.6289
 4.6292
 4.6292
  4.629, <Column name='col3' dtype='float64' length=25>
 5.6536
 5.6536
 5.6538
 5.6531
 5.6541
 5.6544
 5.6545
 5.6541
 5.6542
 5.6537
 5.6539
 5.6538
 5.6545
 5.6532
 5.6547
 5.6537
 5.6542
 5.6536
 5.6531
  5.654
 5.6539
 5.6528
 5.6542
  5.653
 5.6541, <Column name='col3' dtype='float64' length=22>
 7.9015
 7.9017
 7.9016
 7.9014
 7.9019
 7.9047
 7.9108
 7.9023
 7.9052
  7.902
 7.9072
 7.8998
 7.9021
 7.9012
 7.8982
 7.9008
 7.8994
 7.9053
 7.9009
 7.9033
 7.8988
 7.8986, <Column name='col3' dtype='float64' length=23>
 5.8727
 5.8721
 5.8721
 5.8727
 5.8723
 5.8728
 5.8726
 5.8725
 5.8726
 5.8728
 5.8719
 5.8724
 5.8722
 5.8718
  5.872
 5.8719
 5.8724
 5.8721
 5.8724
 5.8721
 5.8719
 5.8721
 5.8722, <Column name='col3' dtype='float64' length=24>
 6.1724
 6.1736
 6.1736
 6.1728
 6.1712
 6.1731
 6.1725
 6.1699
 6.1704
 6.1751
 6.1718
 6.1713
  6.171
  6.167
 6.1707
 6.1719
 6.1657
 6.1748
 6.1722
 6.1724
 6.1709
 6.1719
 6.1669
 6.1711, <Column name='col3' dtype='float64' length=21>
 7.8685
 7.8668
  7.868
 7.8781
 7.8739
 7.8694
 7.8671
 7.8724
 7.8658
 7.8632
 7.8764
 7.8622
  7.863
  7.864
 7.8652
 7.8738
 7.8734
 7.8581
 7.8595
 7.8635
 7.8571, <Column name='col3' dtype='float64' length=22>
 5.4488
 5.4547
 5.4538
 5.4495
 5.4534
 5.4495
 5.4526
 5.4534
  5.456
  5.454
 5.4485
 5.4551
 5.4505
 5.4511
 5.4463
 5.4481
  5.445
  5.451
 5.4558
 5.4501
 5.4575
 5.4536, <Column name='col3' dtype='float64' length=23>
  4.865
 4.8685
 4.8661
 4.8677
 4.8652
 4.8666
 4.8663
 4.8638
 4.8655
 4.8676
 4.8567
 4.8633
  4.868
 4.8574
 4.8633
 4.8645
 4.8692
 4.8598
 4.8663
  4.865
  4.866
 4.8659
 4.8687, <Column name='col3' dtype='float64' length=24>
 5.7161
 5.7144
 5.7133
 5.7152
 5.7124
  5.715
 5.7158
 5.7126
 5.7123
 5.7142
 5.7157
 5.7133
 5.7138
 5.7159
 5.7147
 5.7126
 5.7207
 5.7154
 5.7121
 5.7157
  5.717
 5.7155
 5.7142
 5.7143, <Column name='col3' dtype='float64' length=24>
 4.6162
 4.6141
  4.613
 4.6136
  4.613
 4.6115
 4.6088
 4.6126
 4.6153
 4.6144
 4.6127
  4.616
 4.6162
 4.6161
 4.6153
  4.616
 4.6159
 4.6137
  4.614
 4.6115
 4.6113
 4.6162
 4.6147
 4.6124, <Column name='col3' dtype='float64' length=22>
 4.3911
 4.3912
 4.3914
 4.3914
 4.3914
 4.3899
 4.3907
   4.39
 4.3912
 4.3914
 4.3912
 4.3898
 4.3913
 4.3914
 4.3915
 4.3915
 4.3914
 4.3914
 4.3912
 4.3914
 4.3913
 4.3914, <Column name='col3' dtype='float64' length=23>
 5.8726
 5.8729
 5.8743
 5.8737
 5.8727
 5.8722
 5.8775
 5.8734
 5.8718
 5.8745
 5.8772
 5.8721
  5.874
 5.8738
 5.8748
 5.8709
 5.8723
 5.8755
 5.8725
 5.8732
 5.8723
  5.877
 5.8722, <Column name='col3' dtype='float64' length=24>
 4.5371
  4.538
 4.5378
 4.5356
 4.5389
 4.5364
 4.5372
 4.5364
 4.5397
 4.5353
 4.5386
  4.537
 4.5394
  4.537
 4.5378
 4.5381
 4.5375
  4.537
  4.538
 4.5369
 4.5374
   4.54
 4.5395
 4.5364, <Column name='col3' dtype='float64' length=17>
  7.317
 7.3275
 7.3232
 7.3135
 7.3229
 7.3243
  7.325
 7.3149
 7.3243
 7.3279
 7.3266
  7.322
 7.3208
 7.3262
 7.3238
 7.3244
  7.325, <Column name='col3' dtype='float64' length=20>
 5.5609
 5.5599
 5.5608
  5.561
 5.5619
 5.5608
 5.5628
 5.5592
 5.5598
 5.5625
 5.5637
 5.5611
   5.56
 5.5595
 5.5632
   5.56
  5.566
 5.5628
 5.5594
 5.5598, <Column name='col3' dtype='float64' length=22>
 4.0087
 4.0039
 4.0094
 4.0073
 4.0078
  4.008
 4.0074
 4.0088
 4.0085
 4.0076
 4.0083
 4.0084
  4.004
 4.0079
 4.0087
 4.0074
 4.0055
  4.005
 4.0093
 4.0083
 4.0055
 4.0078, <Column name='col3' dtype='float64' length=26>
 7.3573
 7.3555
 7.3573
 7.3625
 7.3629
 7.3569
  7.366
  7.362
 7.3562
 7.3644
 7.3544
 7.3629
    ...
 7.3548
 7.3596
 7.3522
 7.3705
 7.3626
 7.3579
 7.3568
 7.3485
 7.3617
 7.3619
 7.3565
 7.3629, <Column name='col3' dtype='float64' length=18>
 4.4053
 4.4003
 4.4043
 4.4027
  4.407
 4.4054
  4.406
 4.4065
 4.4044
 4.4027
 4.4066
 4.4062
 4.4042
 4.4036
 4.4021
 4.4056
 4.4053
 4.4062, <Column name='col3' dtype='float64' length=27>
 6.7066
 6.7093
 6.6996
 6.7022
 6.6994
 6.7055
  6.705
  6.702
 6.7081
 6.7052
 6.7037
 6.7045
    ...
 6.7128
 6.7094
 6.7082
 6.7101
 6.7043
  6.714
 6.7009
 6.7052
 6.7078
 6.7061
 6.7056
 6.7066, <Column name='col3' dtype='float64' length=25>
  7.955
 7.9512
 7.9534
 7.9498
 7.9499
 7.9502
 7.9539
 7.9538
 7.9543
  7.948
 7.9477
 7.9503
 7.9499
 7.9489
 7.9494
 7.9507
 7.9546
 7.9494
 7.9495
 7.9526
 7.9468
 7.9545
 7.9518
 7.9489
 7.9536, <Column name='col3' dtype='float64' length=26>
 8.5624
 8.5628
 8.5625
 8.5625
 8.5628
 8.5629
 8.5623
 8.5623
 8.5581
 8.5623
 8.5624
 8.5624
    ...
 8.5621
 8.5624
 8.5622
 8.5624
 8.5623
 8.5628
 8.5626
 8.5635
 8.5624
 8.5628
 8.5624
 8.5624, <Column name='col3' dtype='float64' length=21>
 7.8625
 7.8594
 7.8578
 7.8634
 7.8592
 7.8602
 7.8638
 7.8647
  7.855
 7.8664
 7.8604
 7.8671
 7.8587
 7.8574
 7.8571
 7.8629
 7.8637
 7.8632
 7.8577
 7.8593
 7.8577, <Column name='col3' dtype='float64' length=23>
 6.1311
 6.1232
 6.1265
 6.1258
 6.1252
  6.121
 6.1266
 6.1194
 6.1295
 6.1306
 6.1218
 6.1235
 6.1259
 6.1302
 6.1207
 6.1203
 6.1217
 6.1179
 6.1277
 6.1158
 6.1205
 6.1286
 6.1203, <Column name='col3' dtype='float64' length=21>
 4.7738
  4.774
 4.7741
  4.774
 4.7741
 4.7742
 4.7739
  4.774
 4.7737
 4.7741
  4.774
 4.7737
 4.7739
 4.7741
 4.7743
 4.7743
 4.7741
 4.7742
 4.7739
 4.7737
 4.7741, <Column name='col3' dtype='float64' length=20>
 6.6836
 6.6869
 6.6899
 6.6824
 6.6864
 6.6854
 6.6902
 6.6906
 6.6868
 6.6855
 6.6873
 6.6849
 6.6852
 6.6863
 6.6867
  6.683
 6.6852
 6.6867
 6.6893
 6.6815, <Column name='col3' dtype='float64' length=26>
  8.381
 8.3853
 8.3753
 8.3908
 8.3935
 8.3877
 8.3874
 8.3919
  8.392
 8.3833
 8.3863
 8.3837
    ...
 8.3842
 8.3837
 8.3826
 8.3839
 8.3851
 8.3962
 8.3837
 8.3861
 8.3846
 8.3727
 8.3845
 8.3879, <Column name='col3' dtype='float64' length=25>
 6.1207
 6.1123
 6.1161
 6.1183
 6.1171
 6.1142
 6.1163
 6.1133
 6.1087
 6.1157
 6.1083
 6.1158
 6.1143
 6.1146
 6.1161
 6.1167
 6.1165
 6.1118
 6.1155
 6.1139
 6.1115
 6.1157
 6.1187
 6.1131
 6.1171, <Column name='col3' dtype='float64' length=23>
 4.2071
 4.2078
 4.2049
 4.2078
 4.2087
 4.2059
  4.207
 4.2067
 4.2051
 4.2095
 4.2063
  4.209
 4.2109
 4.2087
 4.2079
 4.2071
 4.2095
  4.207
 4.2069
 4.2097
 4.2081
 4.2091
 4.2048, <Column name='col3' dtype='float64' length=25>
 3.9541
 3.9546
 3.9542
 3.9545
 3.9544
 3.9542
 3.9541
 3.9551
 3.9539
 3.9545
 3.9552
 3.9544
 3.9546
 3.9548
 3.9552
 3.9544
 3.9547
 3.9545
 3.9549
 3.9541
 3.9548
 3.9547
 3.9545
 3.9545
 3.9551, <Column name='col3' dtype='float64' length=24>
 4.1795
 4.1789
 4.1789
 4.1791
 4.1792
 4.1794
 4.1794
 4.1789
  4.179
 4.1793
 4.1793
 4.1789
 4.1795
 4.1793
 4.1792
 4.1794
 4.1795
 4.1794
 4.1793
  4.179
 4.1796
 4.1794
 4.1792
 4.1795, <Column name='col3' dtype='float64' length=23>
 5.6736
 5.6739
 5.6735
 5.6738
 5.6737
 5.6741
 5.6735
 5.6743
 5.6739
  5.674
 5.6735
 5.6733
 5.6739
 5.6738
 5.6738
 5.6739
 5.6739
 5.6736
  5.674
 5.6738
 5.6736
 5.6736
 5.6744, <Column name='col3' dtype='float64' length=22>
 6.0412
 6.0402
  6.038
 6.0378
 6.0415
 6.0392
 6.0362
 6.0371
  6.042
 6.0409
 6.0402
 6.0394
  6.031
 6.0408
 6.0389
 6.0378
 6.0418
  6.041
 6.0339
 6.0388
 6.0362
 6.0396, <Column name='col3' dtype='float64' length=22>
 7.4995
 7.5037
 7.5068
 7.5088
 7.5058
 7.5001
 7.5008
 7.5067
 7.5005
 7.5025
 7.5052
 7.5052
 7.5084
 7.5062
  7.501
 7.5052
 7.5121
 7.5031
 7.4992
 7.5062
 7.5034
 7.5038, <Column name='col3' dtype='float64' length=28>
 7.3952
 7.3974
 7.3909
 7.3981
 7.3898
  7.396
 7.3979
 7.3938
 7.3922
 7.3898
 7.3984
 7.3954
    ...
 7.3918
 7.3917
 7.3967
 7.3918
 7.3963
 7.3907
 7.3905
 7.3955
 7.3941
 7.3989
 7.3912
  7.395, <Column name='col3' dtype='float64' length=26>
 7.1729
 7.1779
 7.1719
 7.1731
 7.1714
 7.1723
 7.1789
 7.1766
 7.1771
 7.1793
  7.173
 7.1789
    ...
 7.1764
  7.175
 7.1761
 7.1756
 7.1744
 7.1716
 7.1742
 7.1738
 7.1773
 7.1716
 7.1752
 7.1767, <Column name='col3' dtype='float64' length=24>
  5.776
 5.7729
 5.7756
 5.7781
 5.7769
 5.7746
 5.7754
 5.7755
  5.772
 5.7752
 5.7762
 5.7771
 5.7752
 5.7766
 5.7745
 5.7752
 5.7762
 5.7773
 5.7746
 5.7759
 5.7739
 5.7768
 5.7746
 5.7765, <Column name='col3' dtype='float64' length=23>
 3.9637
 3.9636
 3.9632
 3.9635
 3.9637
 3.9636
 3.9636
 3.9636
 3.9635
 3.9635
 3.9635
 3.9635
 3.9631
 3.9634
 3.9636
 3.9635
 3.9634
 3.9633
 3.9633
 3.9634
 3.9636
 3.9636
 3.9638, <Column name='col3' dtype='float64' length=22>
 5.2364
 5.2369
 5.2369
 5.2362
 5.2367
 5.2369
  5.237
 5.2368
 5.2373
 5.2364
 5.2352
 5.2361
 5.2364
  5.237
 5.2367
 5.2371
  5.237
 5.2356
 5.2363
 5.2363
 5.2365
 5.2373, <Column name='col3' dtype='float64' length=23>
 3.5024
 3.5029
 3.5028
 3.5029
  3.503
 3.5031
 3.5024
 3.5031
 3.5032
  3.503
 3.5024
 3.5025
 3.5027
 3.5031
 3.5033
 3.5031
 3.5031
 3.5029
 3.5029
  3.503
 3.5031
 3.5029
 3.5033, <Column name='col3' dtype='float64' length=23>
 7.3008
 7.3188
 7.3397
 7.3394
 7.3374
 7.3368
 7.3376
 7.3304
 7.3398
 7.3272
 7.3347
 7.3324
 7.3352
 7.3397
 7.3351
 7.3365
 7.3247
 7.3361
 7.3401
 7.3239
 7.3362
 7.3367
 7.3401, <Column name='col3' dtype='float64' length=20>
 4.8178
 4.8264
 4.8176
 4.8308
 4.8253
 4.8238
 4.8226
 4.8228
 4.8239
 4.8302
  4.827
 4.8304
 4.8302
 4.8212
 4.8256
 4.8292
 4.8305
 4.8287
 4.8282
 4.8307, <Column name='col3' dtype='float64' length=24>
 5.4662
 5.4647
 5.4641
 5.4648
 5.4634
 5.4611
 5.4645
 5.4661
  5.464
 5.4637
 5.4643
 5.4661
 5.4666
 5.4663
 5.4646
 5.4636
 5.4636
 5.4639
 5.4608
 5.4634
 5.4646
 5.4646
  5.465
 5.4608, <Column name='col3' dtype='float64' length=22>
 14.4762
 14.4757
 14.4754
 14.4711
 14.4685
 14.3335
 14.4737
 14.4724
 14.4752
 14.4754
 14.4704
 14.4769
 14.4772
 14.4749
 14.4736
  14.477
 14.4654
 14.4737
 14.4332
 14.4771
  14.477
 14.4761, <Column name='col3' dtype='float64' length=23>
 4.5183
 4.5183
 4.5177
 4.5212
 4.5176
 4.5175
 4.5179
 4.5178
 4.5182
 4.5185
 4.5207
 4.5189
 4.5182
 4.5191
   4.52
 4.5195
 4.5188
 4.5239
 4.5205
  4.518
 4.5213
  4.518
 4.5181, <Column name='col3' dtype='float64' length=18>
 9.2774
  9.299
 9.3045
 9.2893
 9.2946
 9.2878
 9.3054
 9.2964
 9.2893
 9.3051
  9.303
 9.2998
 9.3005
 9.3018
 9.3055
 9.3047
 9.3053
 9.3054, <Column name='col3' dtype='float64' length=19>
 5.1173
 5.1167
 5.1163
  5.117
 5.1168
 5.1174
 5.1176
 5.1169
 5.1171
 5.1173
 5.1174
 5.1176
 5.1169
 5.1168
 5.1169
 5.1168
 5.1175
 5.1176
 5.1173, <Column name='col3' dtype='float64' length=26>
 5.7774
 5.7717
 5.7738
  5.772
 5.7765
 5.7748
 5.7763
 5.7733
 5.7752
 5.7743
 5.7758
 5.7704
    ...
 5.7779
  5.777
 5.7714
 5.7758
 5.7706
 5.7761
  5.776
 5.7769
 5.7758
 5.7767
 5.7751
 5.7765, <Column name='col3' dtype='float64' length=25>
 5.2339
 5.2332
 5.2347
 5.2336
 5.2373
  5.232
 5.2346
 5.2351
  5.237
 5.2333
 5.2344
 5.2372
 5.2378
 5.2352
 5.2363
 5.2351
  5.236
 5.2342
 5.2345
 5.2338
 5.2357
 5.2371
 5.2369
 5.2331
 5.2396, <Column name='col3' dtype='float64' length=23>
 6.0549
 6.0522
   6.06
 6.0583
 6.0537
 6.0581
 6.0574
 6.0557
 6.0587
 6.0542
 6.0543
 6.0598
 6.0568
   6.06
 6.0555
 6.0534
 6.0546
 6.0557
 6.0588
 6.0567
 6.0574
 6.0516
 6.0585, <Column name='col3' dtype='float64' length=24>
 4.7646
 4.7642
 4.7653
 4.7647
 4.7652
 4.7648
 4.7647
 4.7645
 4.7646
 4.7655
 4.7649
 4.7652
 4.7645
 4.7647
 4.7649
 4.7654
 4.7646
 4.7653
 4.7646
 4.7643
 4.7644
 4.7646
  4.765
 4.7647, <Column name='col3' dtype='float64' length=19>
 5.4104
 5.4151
  5.413
  5.411
 5.4137
 5.4125
 5.4133
 5.4127
 5.4119
 5.4123
 5.4119
 5.4161
 5.4123
 5.4166
 5.4079
 5.4131
 5.4139
 5.4146
 5.4125, <Column name='col3' dtype='float64' length=24>
 5.6088
 5.6064
 5.6075
  5.607
 5.6038
 5.6059
 5.6062
 5.6086
 5.6092
 5.6097
 5.6079
 5.6069
 5.6076
 5.6088
 5.6056
 5.6072
 5.6065
 5.6099
  5.608
 5.6094
 5.6085
 5.6098
 5.6061
 5.6105, <Column name='col3' dtype='float64' length=19>
 3.9667
  3.962
 3.9692
 3.9697
 3.9652
 3.9691
  3.968
 3.9652
 3.9642
 3.9665
 3.9689
 3.9688
 3.9689
 3.9672
  3.966
 3.9642
 3.9696
 3.9686
 3.9694, <Column name='col3' dtype='float64' length=23>
 3.7207
 3.7192
 3.7208
 3.7198
 3.7191
 3.7198
 3.7198
 3.7195
 3.7192
 3.7194
 3.7196
 3.7196
 3.7197
 3.7198
 3.7195
 3.7197
 3.7193
 3.7197
 3.7204
 3.7195
 3.7203
 3.7196
 3.7195, <Column name='col3' dtype='float64' length=22>
 2.9685
 2.9687
 2.9688
 2.9684
 2.9684
 2.9686
 2.9686
 2.9688
 2.9687
 2.9687
 2.9684
 2.9687
 2.9689
 2.9686
 2.9685
 2.9685
 2.9686
 2.9687
 2.9685
 2.9683
 2.9688
 2.9688, <Column name='col3' dtype='float64' length=22>
 4.6182
 4.6184
 4.6182
 4.6181
 4.6187
 4.6181
 4.6182
 4.6188
 4.6181
 4.6181
 4.6183
 4.6181
 4.6181
 4.6184
 4.6185
 4.6189
 4.6182
  4.618
 4.6181
 4.6184
 4.6181
 4.6179, <Column name='col3' dtype='float64' length=26>
  14.742
  14.742
 14.7428
 14.7448
 14.7451
 14.7444
 14.7445
 14.7456
 14.7442
 14.7457
  14.745
 14.7456
     ...
 14.7424
 14.7457
 14.7413
 14.7456
 14.7447
  14.744
 14.7403
 14.7415
  14.741
 14.7453
 14.7453
 14.7433, <Column name='col3' dtype='float64' length=22>
 4.9305
 4.9286
 4.9308
 4.9292
 4.9289
 4.9283
 4.9302
  4.928
 4.9287
   4.93
 4.9262
  4.929
 4.9301
 4.9282
 4.9269
 4.9294
 4.9302
 4.9309
 4.9299
 4.9277
 4.9301
 4.9293, <Column name='col3' dtype='float64' length=21>
 7.4284
 7.4234
  7.423
 7.4248
 7.4283
 7.4248
 7.4244
 7.4247
 7.4299
 7.4274
   7.43
 7.4286
 7.4269
 7.4253
  7.422
 7.4231
 7.4284
 7.4285
 7.4236
 7.4224
 7.4275, <Column name='col3' dtype='float64' length=22>
  4.025
 4.0223
 4.0259
 4.0227
 4.0265
 4.0245
 4.0263
 4.0239
 4.0257
  4.025
 4.0203
 4.0238
 4.0266
 4.0218
 4.0256
 4.0208
 4.0246
 4.0247
 4.0217
 4.0225
 4.0267
 4.0242, <Column name='col3' dtype='float64' length=23>
 7.8838
 7.8871
 7.8901
 7.8954
 7.8884
 7.8934
 7.8894
 7.8889
 7.8847
 7.8847
 7.8819
 7.8921
 7.8883
 7.8889
  7.887
 7.8888
 7.8889
 7.8891
 7.8873
  7.883
 7.8952
 7.8932
  7.888, <Column name='col3' dtype='float64' length=26>
 4.3456
 4.3461
  4.346
 4.3457
 4.3461
 4.3464
 4.3461
 4.3454
 4.3456
 4.3462
 4.3454
 4.3461
    ...
 4.3456
 4.3456
  4.346
 4.3459
  4.346
 4.3458
 4.3461
 4.3461
 4.3457
 4.3461
 4.3462
 4.3457, <Column name='col3' dtype='float64' length=25>
 5.5973
  5.598
  5.598
 5.5957
 5.5986
 5.5969
 5.5972
 5.5972
 5.5967
 5.5955
 5.5965
 5.5972
 5.5979
 5.5972
 5.5955
 5.5959
 5.5945
 5.5958
 5.5944
 5.5973
 5.5954
 5.5967
 5.5966
 5.5974
 5.5948, <Column name='col3' dtype='float64' length=23>
  4.805
  4.812
 4.8099
  4.811
 4.8052
 4.8121
  4.782
 4.8101
 4.8107
 4.8101
 4.8067
 4.8106
 4.8102
 4.8107
   4.81
 4.8117
 4.8107
 4.8112
 4.8112
 4.8114
 4.8105
 4.8114
 4.8104, <Column name='col3' dtype='float64' length=22>
 6.7834
 6.7863
 6.7816
 6.7862
 6.7735
 6.7861
 6.7866
 6.7867
 6.7871
  6.786
 6.7869
 6.7739
 6.7869
 6.7753
 6.7866
 6.7858
 6.7736
 6.7869
 6.7867
 6.7868
 6.7868
 6.7757, <Column name='col3' dtype='float64' length=25>
  3.329
 3.3289
 3.3287
 3.3292
 3.3291
 3.3291
 3.3291
 3.3291
 3.3291
 3.3292
 3.3292
 3.3287
 3.3291
 3.3291
 3.3291
 3.3291
 3.3291
 3.3291
 3.3292
 3.3291
 3.3288
 3.3291
 3.3291
 3.3292
 3.3292, <Column name='col3' dtype='float64' length=22>
 9.4085
 9.4257
 9.4236
 9.4259
 9.4266
 9.4268
 9.4184
 9.4259
 9.4258
 9.4263
 9.4268
 9.4267
 9.4199
 9.4267
 9.4204
 9.4223
 9.4246
 9.4254
 9.4082
 9.4121
 9.4165
  9.426, <Column name='col3' dtype='float64' length=25>
 4.6667
 4.6674
 4.6683
 4.6697
 4.6671
  4.666
 4.6708
 4.6669
 4.6667
 4.6699
 4.6689
 4.6693
 4.6688
 4.6651
 4.6664
 4.6674
 4.6674
 4.6674
 4.6686
 4.6666
 4.6661
 4.6687
 4.6672
 4.6669
 4.6658, <Column name='col3' dtype='float64' length=24>
 8.2172
 8.2247
 8.2265
 8.2173
 8.2245
 8.2164
 8.2309
 8.2258
 8.2183
 8.2191

In [108]:
expstarts

[2299.295768099997,
 1670.2651394900022,
 2859.2366307600023,
 2411.559579059998,
 2691.598000209997,
 2314.2819146999973,
 1881.1717413799997,
 2999.217357380003,
 1642.487207459999,
 1460.3530824199988,
 2873.319455680001,
 2342.9816491300007,
 2663.4653490499986,
 2482.142555630002,
 2230.2167389399983,
 2733.549231830002,
 2398.312900539997,
 1810.3807214699991,
 2034.26570412,
 2271.4592514800024,
 1684.4290513399974,
 1698.529515000002,
 2495.258007110002,
 1503.450884769998,
 1936.3812569200018,
 1530.3094850100024,
 2971.459668919997,
 2523.103308509999,
 1712.3103368599986,
 2846.2097903899994,
 2075.692440769999,
 2943.0990292700008,
 2747.4159214600004,
 2103.661851509998,
 1474.1273656400008,
 1908.2438487600011,
 3055.121947530002,
 2426.4557834200023,
 1586.770319590003,
 1838.4066944099977,
 2803.132716979999,
 1517.10738958,
 2258.2543670399973,
 2454.588145230002,
 2818.0209704399967,
 2286.3591710600012,
 2383.2328305799965,
 1740.41370569,
 2831.2868500699988,
 2789.5440480899997,
 2062.600392250002,
 2187.2108231699967,
 2370.3958746599965,
 2146.5257761899993,
 1922.0272406299991,
 1432.6244940600009,
 2985.349186270003,
 1728.6439253200006,
 1446.4868094600024,
 2215.1576065499976,
 2202.9944235799994,
 1754.5049564200017,
 1418.4013692399967,
 2327.390572110002,
 3139.257154480001,
 1978.021084580003,
 2439.268074899999,
 1656.232936350003,
 2551.47219819,
 1782.175234870003,
 1615.350355069997,
 3127.2271892900026,
 2622.7661121100027,
 1601.6302847800034,
 2538.4015963400016,
 2006.7155990000028,
 1825.0708140600036,
 2510.6668385099983,
 2019.4435967800018,
 2090.1824300299995,
 1852.0650855200001,
 1628.7065006300036,
 2650.3064949800028,
 1559.6481778700036,
 2957.131150399997,
 2118.299224690003,
 2159.4841558199987,
 3027.3522101199997,
 2356.5492417200003,
 1544.4608161200013,
 1768.1186138300036,
 2678.7276068799983,
 3013.251110489997,
 1796.2445633800016,
 1572.1689649100008,
 2467.3689322599967,
 1866.187215830003,
 2243.055894129997,
 3042.0524453100006,
 2047.5040837499982,
 2566.3231362299994,
 2174.90460799,
 1991.2264319800015,
 2915.5793290799993,
 2579.2775691900024,
 2131.496516170002,
 1488.1413237899978,
 2635.2177095200022,
 1894.2005732100006,
 2901.2466324199995,
 2887.2025227199993]

In [112]:
pf_expstarts

[57946.012443,
 57936.060048,
 57921.083219,
 57938.09183,
 57944.056911,
 57944.056911,
 57940.063126,
 57940.063126,
 57922.198612,
 57940.063126,
 57944.056911,
 57936.060048,
 57930.557721,
 57921.083219,
 57924.000522,
 57930.557721,
 57944.056911,
 57927.285754,
 57940.063126,
 57930.557721,
 57921.083219,
 57946.012443,
 57927.285754,
 57930.557721,
 57938.09183,
 57927.285754,
 55252.224838,
 55240.293866,
 55248.481285,
 55246.44698,
 55235.407211,
 55251.274722,
 55250.284804,
 55255.409966,
 55247.60088,
 55239.016435,
 55243.216111,
 55239.501355,
 55242.495787,
 55249.300417,
 55241.219364,
 55233.980128,
 55237.504942,
 55234.440498,
 55244.424514,
 55253.368148,
 55232.58323,
 55236.576077,
 55245.421123,
 56839.529716,
 56846.542401,
 56836.062169,
 56849.157377,
 56837.115074,
 56846.542401,
 56827.483975,
 56838.709137,
 56842.046012,
 56835.047748,
 56834.092794,
 56848.000514,
 56832.008419,
 56845.021347,
 56831.136776,
 56841.032389,
 56843.625664,
 56843.00806,
 56830.008801,
 56829.026949,
 56853.470178,
 56833.057516,
 56838.709137,
 56853.470178,
 57701.336207,
 57713.877225000004,
 57707.038719000004,
 57710.320709,
 57709.012526,
 57705.245316,
 57707.038719000004,
 57701.336207,
 57721.278464,
 57715.878962,
 57721.278464,
 57711.795478,
 57709.012526,
 57698.363823,
 57707.038719000004,
 57707.038719000004,
 57719.862932000004,
 58223.050105,
 58207.29389,
 58206.012466,
 58212.371066,
 58218.124504,
 58223.050105,
 58211.060071,
 58207.29389,
 58212.371066,
 58223.050105,
 58223.050105,
 58226.085186,
 58222.209955,
 58206.032548,
 58207.29389,
 58207.29389,
 58212.371066,
 58217.253867,
 58218.124504,
 58212.371066,
 58218.124504,
 58226.085186,
 58216.002929,
 58218.124504,
 56632.399834,
 56644.394742,
 56654.498955,
 56635.907566,
 56649.105969,
 56651.163758,
 56643.154904,
 56639.015101,
 56659.086744,
 56636.323133,
 56647.133446,
 56643.492693,
 56641.478017,
 56633.449476,
 56639.368955,
 56634.778434,
 56653.637138,
 56653.167416,
 56637.558284,
 56648.123156,
 56645.607612,
 56631.322624,
 57147.11029,
 57143.050209,
 57148.609457,
 57156.970637,
 57146.107663,
 57145.047235,
 57149.000557,
 57137.23242,
 57136.059897,
 57144.012235,
 57153.021413,
 57143.050209,
 57139.125348,
 57152.219839,
 57155.006748,
 57151.111413,
 57143.050209,
 57143.050209,
 57159.024665,
 57158.103739,
 57154.01176,
 57150.023635,
 57138.223369,
 55206.118217,
 55215.44537,
 55207.578437,
 55217.426898,
 55223.361007,
 55212.528426,
 55210.13765,
 55228.324618,
 55211.183703,
 55226.463113,
 55222.364502,
 55219.431053,
 55224.36044,
 55221.504016,
 55203.665914,
 55227.302037,
 55213.652384,
 55220.086678,
 55218.199467,
 55214.44743,
 55208.182523,
 55205.268275,
 55204.33449,
 55209.452558,
 55225.070092,
 55216.443298,
 58125.14528,
 58132.237200999996,
 58121.126541,
 58119.120859,
 58131.203578,
 58137.156877,
 58118.447814,
 58126.934805,
 58137.156877,
 58121.126541,
 58119.120859,
 58129.129389,
 58132.237200999996,
 58121.126541,
 58125.14528,
 58132.237200999996,
 58121.126541,
 58115.463995,
 58141.10629,
 58125.14528,
 58141.10629,
 58137.156877,
 58136.104146,
 58132.237200999996,
 58125.14528,
 57196.158799,
 57210.929968,
 57208.891009,
 57212.338185,
 57197.026738,
 57207.024782,
 57205.588243,
 57206.066866,
 57194.75572,
 57199.961391,
 57199.283857,
 57198.016831,
 57210.081681,
 57204.590975,
 57213.05712,
 57202.02815,
 57203.119493,
 57214.326368,
 57215.064771,
 55532.015134,
 55516.646835,
 55534.009752,
 55520.006291,
 55519.148675,
 55522.020967,
 55526.213235,
 55536.426592,
 55515.226372,
 55521.003074,
 55516.94253,
 55523.013884,
 55533.188363,
 55527.011743,
 55518.061985,
 55530.048733,
 55528.197993,
 55524.309057,
 55531.013513,
 55529.010735,
 55525.003062,
 55535.066221,
 55072.02237,
 55084.229603,
 55068.62752,
 55065.619696,
 55085.339163,
 55065.619696,
 55079.132624,
 55068.62752,
 55072.02237,
 55077.006004,
 55078.102393,
 55072.02237,
 55080.063133,
 55081.596235,
 55073.928353,
 55075.005645,
 55073.027126,
 55080.667046,
 55083.059013,
 55068.62752,
 55076.026131,
 56173.030322,
 56155.315981,
 56160.357,
 56158.244107,
 56163.157857,
 56174.8856,
 56176.04509,
 56156.359188,
 56158.366815,
 56180.942833,
 56170.133285,
 56171.341676,
 56167.394766,
 56171.341676,
 56166.601097,
 56168.997799,
 56162.222046,
 56160.357,
 56174.02722,
 56163.4545,
 56166.020981,
 56164.410657,
 56176.355033,
 57503.364559,
 57501.236514000004,
 57517.251804,
 57521.16413,
 57518.629964,
 57511.000519,
 57525.000496,
 57512.023227,
 57507.125612,
 57508.088459,
 57523.127244,
 57509.073725,
 57524.063586000004,
 57520.065218,
 57504.356387,
 57499.670994,
 57506.314003,
 57526.71104,
 57505.317903,
 57514.00744,
 57498.64141,
 57518.641943,
 57510.062359999996,
 57513.01472,
 57515.824663,
 57522.006677,
 57502.195519,
 55935.369009,
 55954.859056,
 55947.005491,
 55945.009599,
 55951.887481,
 55943.08975,
 55941.382412,
 55956.475514,
 55954.859056,
 55938.35416,
 55946.01328,
 55940.823419,
 55938.014217,
 55948.664518,
 55939.490514,
 55952.815791,
 55937.106058,
 55932.498454,
 55948.200004,
 55951.887481,
 55934.510641,
 55949.87372,
 55960.769588,
 55931.342204,
 55943.35431,
 55934.047076,
 57317.078662,
 57314.289207,
 57315.00497,
 57316.067343,
 57321.253026,
 57319.000572,
 57318.068327,
 57323.37151,
 57308.119716,
 57301.588014,
 57305.139125,
 57309.182192,
 57311.642621,
 57310.006139,
 57312.532991,
 57304.006417,
 57322.02607,
 57325.555051,
 57306.003222,
 57307.331718,
 57303.163094999996,
 57324.074554,
 57311.263118,
 57320.000572,
 55480.67894,
 55470.202586,
 55463.53813,
 55466.003061,
 55465.137088,
 55478.353338,
 55473.188952,
 55458.029137,
 55475.622355,
 55462.174091,
 55468.150063,
 55475.012031,
 55464.078454,
 55479.191406,
 55472.099311,
 55480.67894,
 55458.757227,
 55469.150838,
 55467.206672,
 55459.585734,
 55471.032551,
 55477.131591,
 55461.106382,
 56331.000129,
 56343.166877,
 56328.498902,
 56332.220244,
 56336.833254,
 56345.054897,
 56327.605314,
 56326.073786,
 56325.054469,
 56334.025835,
 56351.315221,
 56346.950893,
 56337.885615,
 56344.057235,
 56336.821275,
 56346.005511,
 56323.83014,
 56333.268011,
 56330.055256,
 57536.020046,
 57541.463726,
 57539.484987,
 57533.006585,
 57545.331735,
 57534.196805,
 57538.23787,
 57536.503622000004,
 57530.205265,
 57531.354131,
 57544.213147,
 57543.351156,
 57547.318298,
 57534.242244,
 57543.180578,
 57549.138796,
 57541.022152,
 57551.279802,
 57537.496307,
 57549.206573,
 55613.215876,
 55620.208307,
 55611.142832,
 55612.000101,
 55600.630668,
 55607.476548,
 55614.014765,
 55604.070992,
 55601.121281,
 55619.095066,
 55616.00627,
 55615.00723,
 55617.011073,
 55606.014221,
 55602.016802,
 55609.011571,
 55605.085355,
 55610.046374,
 55599.262311,
 55618.000112,
 55608.040587,
 55597.984302,
 55603.019869,
 58161.492309,
 58153.093906,
 58161.492309,
 58161.492309,
 58149.538559,
 58156.358802,
 58147.746533,
 58156.358802,
 58156.358802,
 58153.093906,
 58149.538559,
 58166.125723,
 58149.538559,
 58157.088096,
 58153.093906,
 58166.125723,
 58163.237679,
 58156.358802,
 58161.492309,
 58170.617969,
 58166.125723,
 58166.125723,
 57345.13643,
 57338.052367,
 57355.0032,
 57333.068883,
 57350.551302,
 57336.724415,
 57347.115017000004,
 57352.287251,
 57351.151418,
 57348.366707,
 57346.005052,
 57342.021325,
 57343.004381,
 57334.924844,
 57344.051395,
 57353.355908,
 57330.854195,
 57334.246221,
 57349.375874,
 57339.003339,
 57336.000527,
 57340.880874,
 57332.036557,
 57354.000399,
 55894.095686,
 55891.003012,
 55878.010605,
 55890.142411,
 55887.003047,
 55880.014286,
 55889.038603,
 55876.67961,
 55900.244459,
 55879.419922,
 55886.378985,
 55892.251346,
 55895.966542,
 55883.161913,
 55881.264378,
 55882.056299,
 55885.260628,
 55884.227168,
 55893.238765,
 55895.258927,
 55888.072665,
 55709.707245,
 55718.268182,
 55732.030809,
 55719.039386,
 55714.110416,
 55711.561342,
 55711.940925,
 55728.066481,
 55709.707245,
 55717.093148,
 55730.034791,
 55715.010301,
 55723.058553,
 55726.000127,
 55729.179317,
 55720.194108,
 55724.588391,
 55713.129965,
 55725.184502,
 55710.004039,
 55731.200138,
 55716.619942,
 55722.013472,
 55721.121076,
 55727.148796,
 57882.172187000004,
 57872.106365,
 57876.020323,
 57872.106365,
 57869.01287,
 57865.395937,
 57876.020323,
 57884.026412,
 57876.020323,
 57890.056377,
 57890.056377,
 57879.000393,
 57869.01287,
 57886.074178,
 57865.395937,
 57884.026412,
 57879.000393,
 57872.106365,
 57884.026412,
 57876.020323,
 57890.056377,
 57882.172187000004,
 57872.106365,
 57886.074178,
 57864.00052,
 56364.200569,
 56368.787224,
 56363.27528,
 56372.840234,
 56353.718035,
 56358.245477,
 56352.24256,
 56361.227502,
 56356.755708,
 56366.362502,
 56374.032629,
 56359.629157,
 56355.432132,
 56370.266993,
 56365.347525,
 56377.314921,
 56362.420465,
 56360.367398,
 56370.065859,
 56371.474088,
 56354.332201,
 56358.107074,
 55542.197437,
 55562.68069,
 55541.248988,
 55554.194104,
 55557.17393,
 55543.253051,
 55544.037669,
 55552.303005,
 55547.233468,
 55552.303005,
 55545.045423,
 55540.139903,
 55555.09422,
 55564.660655,
 55561.091975,
 55558.09415,
 55552.303005,
 55560.809185,
 55553.052194,
 55548.285308,
 55563.882982,
 55556.88694,
 55559.150725,
 55546.160713,
 55552.303005,
 55095.185784,
 55110.124974,
 55093.001583,
 55105.170657,
 55101.469916,
 55098.073851,
 55094.050159,
 55094.14296,
 55111.179372,
 55103.133956,
 55100.202185,
 55115.300078,
 55093.001583,
 55106.099268,
 55093.001583,
 55116.41928,
 55112.418215,
 55107.252173,
 55113.319963,
 55104.311363,
 55102.428284,
 55108.371791,
 55099.038562,
 55109.124071,
 55097.083666,
 55093.001583,
 57400.081917,
 57393.631199,
 57390.065401,
 57405.286095,
 57399.067449,
 57398.519729,
 57386.981535,
 57389.64488,
 57401.107878,
 57406.017692,
 57388.120482,
 57403.117658,
 57408.060898,
 57407.031408,
 57392.097137,
 57395.015771,
 57402.00047,
 57391.072009,
 57396.088283,
 57397.476477000004,
 57394.012391,
 57409.163086,
 57404.024648,
 57030.02751,
 57025.147035,
 57027.647255,
 57043.620993,
 57042.011827,
 57023.535276,
 57038.025392,
 57029.033621,
 57026.014801,
 57034.143783,
 57039.000438,
 57045.156433,
 57047.146607,
 57037.077695,
 57048.056341,
 57031.174199,
 57034.520369,
 57035.400461,
 57033.101607,
 57041.126676,
 57040.000438,
 57043.298459,
 57032.085055999996,
 57046.021699,
 55198.347696,
 55192.112742,
 55187.073923,
 55184.032673,
 55196.274455,
 55185.219559,
 55181.201596,
 55197.204501,
 55183.150231,
 55190.253726,
 55194.445034,
 55195.550508,
 55190.253726,
 55193.904617,
 55179.298391,
 55188.633911,
 55177.612696,
 55181.201596,
 55428.882724,
 55431.762504,
 55445.266602,
 55437.605433,
 55446.05328,
 55452.660491,
 55448.048581,
 55453.076533,
 55447.047933,
 55438.106405,
 55433.22115,
 55451.149484,
 55435.116984,
 55440.184264,
 55443.104067,
 55444.026243,
 55436.347308,
 55441.241787,
 55430.041417,
 55442.098118,
 55434.696706,
 55439.448454,
 56079.283549,
 56074.155876,
 56079.877878,
 56078.006292,
 56087.999985,
 56089.141026,
 56075.32782,
 56087.1173,
 56083.192172,
 56090.314047,
 56071.795227,
 56082.216559,
 56093.037947,
 56085.563735,
 56077.000135,
 56092.661674,
 56086.051732,
 56098.034232,
 56090.805806,
 56094.089278,
 56073.020656,
 56075.849348,
 57745.585517,
 57737.196882000004,
 57728.611732,
 57728.611732,
 57733.690783,
 57729.234081,
 57748.419776,
 57728.611732,
 57748.419776,
 57748.419776,
 57737.196882000004,
 57723.050517,
 57733.690783,
 57745.585517,
 57742.558734,
 57748.419776,
 57745.585517,
 57742.558734,
 57728.611732,
 57733.690783,
 57742.558734,
 57737.196882000004,
 57726.484047,
 57733.690783,
 57737.196882000004,
 57738.310586,
 55776.589364,
 55773.253091,
 55764.14536,
 55784.110568,
 55778.167477,
 55788.542489,
 55779.392686,
 55787.099422,
 55786.218149,
 55774.175753,
 55781.514295,
 55766.006274,
 55785.495637,
 55775.261691,
 55780.500117,
 55768.08816,
 55769.814306,
 55777.503126,
 55771.390741,
 55772.567362,
 55783.095001,
 55782.386181,
 55767.433103,
 55293.155812,
 55304.365661,
 55287.312212,
 55311.334434,
 55306.19999,
 55305.350198,
 55302.237455,
 55290.436587,
 55303.204724,
 55309.222721,
 55288.302478,
 55307.532467,
 55297.167224,
 55291.700349,
 55297.167224,
 55310.124631,
 55308.126055,
 55292.161495,
 55290.10639,
 55295.606587,
 55294.428937,
 55312.433184,
 57987.028411,
 57984.051258,
 57998.038642,
 57979.03333,
 57996.012438,
 57991.077543,
 57982.06642,
 57982.06642,
 57993.042658,
 57976.047357,
 57984.051258,
 57979.03333,
 57996.012438,
 57996.012438,
 57996.012438,
 57984.051258,
 57984.051258,
 57987.028411,
 57996.03252,
 57995.021316,
 57991.077543,
 57436.029927,
 57420.141015,
 57422.086107,
 57434.006605,
 57419.024093,
 57427.895853,
 57427.371026,
 57431.556142,
 57426.021339,
 57430.0951,
 57423.00326,
 57436.450309,
 57418.398214,
 57433.021304,
 57415.08414,
 57416.093955,
 57417.000401,
 57435.00326,
 57424.53113,
 57424.167566000004,
 57413.431281,
 57429.297126,
 57421.160447,
 56718.003427999996,
 56725.525662,
 56719.021263,
 56733.291611,
 56722.603601,
 56734.279944,
 56725.103555,
 56720.481402,
 56736.000604,
 56721.559088,
 56717.278185,
 56730.53999,
 56728.369747,
 56739.468983,
 56729.226576,
 56735.296889,
 56731.436055,
 56743.847016,
 56737.190176000004,
 56715.430222,
 56739.468983,
 56726.447641,
 56738.003439,
 56670.007153,
 56665.074734,
 56683.000105,
 56668.000255,
 56681.006471,
 56669.406274,
 56662.071621,
 56678.223647,
 56676.027038,
 56687.209538,
 56673.000024,
 56671.050776000004,
 56666.009781,
 56674.944792,
 56679.181899,
 56680.026065,
 56659.989468,
 56675.076216,
 56663.027385,
 56677.359815,
 56682.066945,
 56661.037084,
 56667.000255,
 55408.100965,
 55423.947677,
 55405.405073,
 55425.265478,
 55403.670409,
 55401.379853,
 55418.933268,
 55411.138464999996,
 55403.670409,
 55400.456312,
 55412.280536,
 55422.691034,
 55421.2538,
 55417.102979,
 55413.721532,
 55409.130883,
 55406.16696,
 55402.561613,
 55399.354113,
 55410.028094,
 55413.469182,
 55422.691034,
 55420.189587,
 55407.31108,
 55416.560942,
 55418.596161,
 57070.177752999996,
 57052.153957,
 57077.013159,
 57074.075092,
 57062.464061,
 57065.50839,
 57077.069686,
 57068.435994,
 57073.404397,
 57057.056434,
 57067.364385,
 57064.410057,
 57075.069536,
 57069.446399,
 57057.068413,
 57059.091064,
 57054.074837,
 57061.329142,
 57058.172522,
 57072.113286,
 57063.069327,
 57055.291446,
 57053.751689,
 57071.178575,
 57061.007777,
 58107.52604,
 58104.003297,
 58089.201098,
 58095.593922,
 58098.117325,
 58098.117325,
 58109.446954,
 58100.546445,
 58104.003297,
 58090.000508,
 58107.52604,
 58113.227533,
 58100.546445,
 58093.925704,
 58107.52604,
 58104.003297,
 58109.446954,
 58089.201098,
 58095.593922,
 58107.52604,
 58087.000519,
 58098.117325,
 58098.117325,
 55267.312617,
 55263.789804,
 55258.397813,
 55281.053519,
 55273.645788,
 55270.103056,
 55282.060499,
 55260.40382,
 55265.201841,
 ...]

In [115]:
expstarts

[2299.295768099997,
 1670.2651394900022,
 2859.2366307600023,
 2411.559579059998,
 2691.598000209997,
 2314.2819146999973,
 1881.1717413799997,
 2999.217357380003,
 1642.487207459999,
 1460.3530824199988,
 2873.319455680001,
 2342.9816491300007,
 2663.4653490499986,
 2482.142555630002,
 2230.2167389399983,
 2733.549231830002,
 2398.312900539997,
 1810.3807214699991,
 2034.26570412,
 2271.4592514800024,
 1684.4290513399974,
 1698.529515000002,
 2495.258007110002,
 1503.450884769998,
 1936.3812569200018,
 1530.3094850100024,
 2971.459668919997,
 2523.103308509999,
 1712.3103368599986,
 2846.2097903899994,
 2075.692440769999,
 2943.0990292700008,
 2747.4159214600004,
 2103.661851509998,
 1474.1273656400008,
 1908.2438487600011,
 3055.121947530002,
 2426.4557834200023,
 1586.770319590003,
 1838.4066944099977,
 2803.132716979999,
 1517.10738958,
 2258.2543670399973,
 2454.588145230002,
 2818.0209704399967,
 2286.3591710600012,
 2383.2328305799965,
 1740.41370569,
 2831.2868500699988,
 2789.5440480899997,
 2062.600392250002,
 2187.2108231699967,
 2370.3958746599965,
 2146.5257761899993,
 1922.0272406299991,
 1432.6244940600009,
 2985.349186270003,
 1728.6439253200006,
 1446.4868094600024,
 2215.1576065499976,
 2202.9944235799994,
 1754.5049564200017,
 1418.4013692399967,
 2327.390572110002,
 3139.257154480001,
 1978.021084580003,
 2439.268074899999,
 1656.232936350003,
 2551.47219819,
 1782.175234870003,
 1615.350355069997,
 3127.2271892900026,
 2622.7661121100027,
 1601.6302847800034,
 2538.4015963400016,
 2006.7155990000028,
 1825.0708140600036,
 2510.6668385099983,
 2019.4435967800018,
 2090.1824300299995,
 1852.0650855200001,
 1628.7065006300036,
 2650.3064949800028,
 1559.6481778700036,
 2957.131150399997,
 2118.299224690003,
 2159.4841558199987,
 3027.3522101199997,
 2356.5492417200003,
 1544.4608161200013,
 1768.1186138300036,
 2678.7276068799983,
 3013.251110489997,
 1796.2445633800016,
 1572.1689649100008,
 2467.3689322599967,
 1866.187215830003,
 2243.055894129997,
 3042.0524453100006,
 2047.5040837499982,
 2566.3231362299994,
 2174.90460799,
 1991.2264319800015,
 2915.5793290799993,
 2579.2775691900024,
 2131.496516170002,
 1488.1413237899978,
 2635.2177095200022,
 1894.2005732100006,
 2901.2466324199995,
 2887.2025227199993]